html {
    --mat-sys-background: #13140e;
    --mat-sys-error: #ffb4ab;
    --mat-sys-error-container: #93000a;
    --mat-sys-inverse-on-surface: #31312b;
    --mat-sys-inverse-primary: #596320;
    --mat-sys-inverse-surface: #e5e3d9;
    --mat-sys-on-background: #e5e3d9;
    --mat-sys-on-error: #690005;
    --mat-sys-on-error-container: #ffdad6;
    --mat-sys-on-primary: #2c3400;
    --mat-sys-on-primary-container: #ddea97;
    --mat-sys-on-primary-fixed: #191e00;
    --mat-sys-on-primary-fixed-variant: #424b08;
    --mat-sys-on-secondary: #2e3317;
    --mat-sys-on-secondary-container: #e2e6be;
    --mat-sys-on-secondary-fixed: #1a1d05;
    --mat-sys-on-secondary-fixed-variant: #45492c;
    --mat-sys-on-surface: #e5e3d9;
    --mat-sys-on-surface-variant: #c7c8b6;
    --mat-sys-on-tertiary: #05372e;
    --mat-sys-on-tertiary-container: #bdecde;
    --mat-sys-on-tertiary-fixed: #00201a;
    --mat-sys-on-tertiary-fixed-variant: #224e44;
    --mat-sys-outline: #919282;
    --mat-sys-outline-variant: #46483b;
    --mat-sys-primary: #c1cd7d;
    --mat-sys-primary-container: #424b08;
    --mat-sys-primary-fixed: #ddea97;
    --mat-sys-primary-fixed-dim: #c1cd7d;
    --mat-sys-scrim: #000;
    --mat-sys-secondary: #c5caa3;
    --mat-sys-secondary-container: #45492c;
    --mat-sys-secondary-fixed: #e2e6be;
    --mat-sys-secondary-fixed-dim: #c5caa3;
    --mat-sys-shadow: #000;
    --mat-sys-surface: #13140e;
    --mat-sys-surface-bright: #37393b;
    --mat-sys-surface-container: #1e1f20;
    --mat-sys-surface-container-high: #282a2c;
    --mat-sys-surface-container-highest: #333537;
    --mat-sys-surface-container-low: #1b1b1b;
    --mat-sys-surface-container-lowest: #0e0e0e;
    --mat-sys-surface-dim: #131313;
    --mat-sys-surface-tint: #d1e1ff;
    --mat-sys-surface-variant: #46483b;
    --mat-sys-tertiary: #a2d0c3;
    --mat-sys-tertiary-container: #224e44;
    --mat-sys-tertiary-fixed: #bdecde;
    --mat-sys-tertiary-fixed-dim: #a2d0c3;
    --mat-sys-info: #a1c9ff;
    --mat-sys-on-info: #012c6f;
    --mat-sys-info-container: #04409f;
    --mat-sys-on-info-container: #d0e4ff;
    --mat-sys-success: #80da88;
    --mat-sys-on-success: #00381f;
    --mat-sys-success-container: #00522c;
    --mat-sys-on-success-container: #beefbb;
    --mat-sys-warning: #fcbd00;
    --mat-sys-on-warning: #4d2600;
    --mat-sys-warning-container: #6d3a01;
    --mat-sys-on-warning-container: #ffe07c;
    --mat-sys-link: #a1c9ff;
    --mat-sys-link-hover: #d0e4ff;
    --mat-sys-link-visited: #d9bafd;
    --mat-sys-blue: #a1c9ff;
    --mat-sys-on-blue: #012c6f;
    --mat-sys-blue-container: #04409f;
    --mat-sys-on-blue-container: #d0e4ff;
    --mat-sys-red: #ffb3ae;
    --mat-sys-on-red: #60150f;
    --mat-sys-red-container: #8a1a16;
    --mat-sys-on-red-container: #ffdadc;
    --mat-sys-yellow: #fcbd00;
    --mat-sys-on-yellow: #4d2600;
    --mat-sys-yellow-container: #6d3a01;
    --mat-sys-on-yellow-container: #ffe07c;
    --mat-sys-green: #80da88;
    --mat-sys-on-green: #00381f;
    --mat-sys-green-container: #00522c;
    --mat-sys-on-green-container: #beefbb;
    --mat-sys-orange: #ffb683;
    --mat-sys-on-orange: #522302;
    --mat-sys-orange-container: #753403;
    --mat-sys-on-orange-container: #ffdcc3;
    --mat-sys-pink: #ffaee4;
    --mat-sys-on-pink: #620438;
    --mat-sys-pink-container: #8d0053;
    --mat-sys-on-pink-container: #ffd8ef;
    --mat-sys-purple: #d9bafd;
    --mat-sys-on-purple: #400b84;
    --mat-sys-purple-container: #5629a4;
    --mat-sys-on-purple-container: #eedcfe;
    --mat-sys-cyan: #60d5f3;
    --mat-sys-on-cyan: #003641;
    --mat-sys-cyan-container: #004e5d;
    --mat-sys-on-cyan-container: #acedff;
    --mat-sys-grey: #c7c7c7;
    --mat-sys-on-grey: #303030;
    --mat-sys-grey-container: #474747;
    --mat-sys-on-grey-container: #e3e3e3;
    --mat-sys-neutral-variant20: #303125;
    --mat-sys-neutral10: #1b1c16;
    --mat-sys-level0: 0px 0px 0px 0px rgba(0, 0, 0, .2), 0px 0px 0px 0px rgba(0, 0, 0, .14), 0px 0px 0px 0px rgba(0, 0, 0, .12);
    --mat-sys-level1: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
    --mat-sys-level2: 0px 3px 3px -2px rgba(0, 0, 0, .2), 0px 3px 4px 0px rgba(0, 0, 0, .14), 0px 1px 8px 0px rgba(0, 0, 0, .12);
    --mat-sys-level3: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12);
    --mat-sys-level4: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12);
    --mat-sys-level5: 0px 7px 8px -4px rgba(0, 0, 0, .2), 0px 12px 17px 2px rgba(0, 0, 0, .14), 0px 5px 22px 4px rgba(0, 0, 0, .12);
    --mat-sys-body-large: 400 1rem/1.5rem Google Sans Flex;
    --mat-sys-body-large-font: Google Sans Flex;
    --mat-sys-body-large-line-height: 1.5rem;
    --mat-sys-body-large-size: 1rem;
    --mat-sys-body-large-tracking: 0;
    --mat-sys-body-large-weight: 400;
    --mat-sys-body-medium: 400 0.875rem/1.25rem Google Sans Flex;
    --mat-sys-body-medium-font: Google Sans Flex;
    --mat-sys-body-medium-line-height: 1.25rem;
    --mat-sys-body-medium-size: 0.875rem;
    --mat-sys-body-medium-tracking: 0;
    --mat-sys-body-medium-weight: 400;
    --mat-sys-body-small: 400 0.75rem/1rem Google Sans Flex;
    --mat-sys-body-small-font: Google Sans Flex;
    --mat-sys-body-small-line-height: 1rem;
    --mat-sys-body-small-size: 0.75rem;
    --mat-sys-body-small-tracking: 0.006rem;
    --mat-sys-body-small-weight: 400;
    --mat-sys-display-large: 400 3.562rem/4rem Playfair Display;
    --mat-sys-display-large-font: Playfair Display;
    --mat-sys-display-large-line-height: 4rem;
    --mat-sys-display-large-size: 3.562rem;
    --mat-sys-display-large-tracking: 0;
    --mat-sys-display-large-weight: 400;
    --mat-sys-display-medium: 400 2.812rem/3.25rem Playfair Display;
    --mat-sys-display-medium-font: Playfair Display;
    --mat-sys-display-medium-line-height: 3.25rem;
    --mat-sys-display-medium-size: 2.812rem;
    --mat-sys-display-medium-tracking: 0;
    --mat-sys-display-medium-weight: 400;
    --mat-sys-display-small: 400 2.25rem/2.75rem Playfair Display;
    --mat-sys-display-small-font: Playfair Display;
    --mat-sys-display-small-line-height: 2.75rem;
    --mat-sys-display-small-size: 2.25rem;
    --mat-sys-display-small-tracking: 0;
    --mat-sys-display-small-weight: 400;
    --mat-sys-headline-large: 400 2rem/2.5rem Playfair Display;
    --mat-sys-headline-large-font: Playfair Display;
    --mat-sys-headline-large-line-height: 2.5rem;
    --mat-sys-headline-large-size: 2rem;
    --mat-sys-headline-large-tracking: 0;
    --mat-sys-headline-large-weight: 400;
    --mat-sys-headline-medium: 400 1.75rem/2.25rem Playfair Display;
    --mat-sys-headline-medium-font: Playfair Display;
    --mat-sys-headline-medium-line-height: 2.25rem;
    --mat-sys-headline-medium-size: 1.75rem;
    --mat-sys-headline-medium-tracking: 0;
    --mat-sys-headline-medium-weight: 400;
    --mat-sys-headline-small: 400 1.5rem/2rem Playfair Display;
    --mat-sys-headline-small-font: Playfair Display;
    --mat-sys-headline-small-line-height: 2rem;
    --mat-sys-headline-small-size: 1.5rem;
    --mat-sys-headline-small-tracking: 0;
    --mat-sys-headline-small-weight: 400;
    --mat-sys-label-large: 500 0.875rem/1.25rem Google Sans Flex;
    --mat-sys-label-large-font: Google Sans Flex;
    --mat-sys-label-large-line-height: 1.25rem;
    --mat-sys-label-large-size: 0.875rem;
    --mat-sys-label-large-tracking: 0;
    --mat-sys-label-large-weight: 500;
    --mat-sys-label-large-weight-prominent: 700;
    --mat-sys-label-medium: 500 0.75rem/1rem Google Sans Flex;
    --mat-sys-label-medium-font: Google Sans Flex;
    --mat-sys-label-medium-line-height: 1rem;
    --mat-sys-label-medium-size: 0.75rem;
    --mat-sys-label-medium-tracking: 0.006rem;
    --mat-sys-label-medium-weight: 500;
    --mat-sys-label-medium-weight-prominent: 700;
    --mat-sys-label-small: 500 0.688rem/1rem Google Sans Flex;
    --mat-sys-label-small-font: Google Sans Flex;
    --mat-sys-label-small-line-height: 1rem;
    --mat-sys-label-small-size: 0.688rem;
    --mat-sys-label-small-tracking: 0.006rem;
    --mat-sys-label-small-weight: 500;
    --mat-sys-title-large: 400 1.375rem/1.75rem Playfair Display;
    --mat-sys-title-large-font: Playfair Display;
    --mat-sys-title-large-line-height: 1.75rem;
    --mat-sys-title-large-size: 1.375rem;
    --mat-sys-title-large-tracking: 0;
    --mat-sys-title-large-weight: 400;
    --mat-sys-title-medium: 500 1rem/1.5rem Google Sans Flex;
    --mat-sys-title-medium-font: Google Sans Flex;
    --mat-sys-title-medium-line-height: 1.5rem;
    --mat-sys-title-medium-size: 1rem;
    --mat-sys-title-medium-tracking: 0;
    --mat-sys-title-medium-weight: 500;
    --mat-sys-title-small: 500 0.875rem/1.25rem Google Sans Flex;
    --mat-sys-title-small-font: Google Sans Flex;
    --mat-sys-title-small-line-height: 1.25rem;
    --mat-sys-title-small-size: 0.875rem;
    --mat-sys-title-small-tracking: 0;
    --mat-sys-title-small-weight: 500;
    --mat-sys-corner-extra-large: 28px;
    --mat-sys-corner-extra-large-top: 28px 28px 0 0;
    --mat-sys-corner-extra-small: 4px;
    --mat-sys-corner-extra-small-top: 4px 4px 0 0;
    --mat-sys-corner-full: 9999px;
    --mat-sys-corner-large: 16px;
    --mat-sys-corner-large-end: 0 16px 16px 0;
    --mat-sys-corner-large-start: 16px 0 0 16px;
    --mat-sys-corner-large-top: 16px 16px 0 0;
    --mat-sys-corner-medium: 12px;
    --mat-sys-corner-none: 0;
    --mat-sys-corner-small: 8px;
    --mat-sys-dragged-state-layer-opacity: 0.16;
    --mat-sys-focus-state-layer-opacity: 0.12;
    --mat-sys-hover-state-layer-opacity: 0.08;
    --mat-sys-pressed-state-layer-opacity: 0.12
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff
}